.custom-date-picker-wrapper {
    position: relative;
    background-color: red;
  }
  
  .custom-submit-button {
    position: absolute;
    top: 8px; /* Adjust the top positioning as needed */
    right: 8px; /* Adjust the right positioning as needed */
    z-index: 10; /* Ensure the button appears above other elements */
  }
  